<!--========================== About Section Start ==========================-->

<section class="about-area">
    <div class="about-shapes">
        <img src="assets/images/shape/aboutShape.png" class="about-first-shape animate-x-axis">
        <img src="assets/images/shape/parashoot.png" class="about-parashoot animate-y-axis">
        <img src="assets/images/shape/arrow-2.png" class="arrow-2 animate-x-axis">
        <img src="assets/images/shape/sun.png" class="about-sun animate-rotate">
        <img src="assets/images/shape/umbrella.png" class="about-umbrella animate-y-axis-slider">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <div class="about-img">
                    <img src="assets/images/about/about.png">
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1">
                <div class="section-title">
                    <span class="section-subtitle">About</span>
                    <h3>Special Care For Your Children</h3>
                    <p>There are many variations of passages of Ipsum available, but the majority suffered alteration in some form randomised words injected.</p>
                </div>
                <div class="about-left-content">
                    <div class="quality">
                        <div class="single-quality">
                            <i class="fa-solid fa-circle-check" style="color: #E2127F;"></i>
                            <span>Experienced staff</span>
                        </div>                      
                        <div class="single-quality">
                            <i class="fa-solid fa-circle-check" style="color: #33DC58;"></i>
                            <span>Experienced staff</span>
                        </div>
                        <div class="single-quality">
                            <i class="fa-solid fa-circle-check" style="color: #22A0A6;"></i>
                            <span>Experienced staff</span>
                        </div>
                        <div class="single-quality">            
                            <i class="fa-solid fa-circle-check" style="color: #F8C312;"></i>
                            <span>Experienced staff</span>
                        </div>
                    </div>
                    <a href="#" class="btn btn--base">
                        <div class="btn-shape btn-shape-1"></div>
                        Read More
                        <div class="btn-shape btn-shape-2"></div> 
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--========================== About Section End ==========================-->