<!-- ==================== Blog Area Start Here ==================== -->

<section class="blog-area">
    <div class="container">
        <div class="row justify-content-center" style="margin-bottom: 45px;">
            <div class="col-xl-7">
                <div class="section-title text-center">
                    <span class="section-subtitle">Blog Post</span>
                    <h3>Explore Our Latest Blog Post</h3>
                    <p style="margin: 0 auto 60px auto;">There are many variations of passages of Ipsum available, but the majority suffered alteration in some form randomised words injected.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4">
                <div class="single-blog-item">
                    <a href="#" class="single-blog">
                        <div class="blog-img">
                            <img src="assets/images/blog/1.png">
                        </div>
                        <div class="blog-content">
                            <div class="blog-title">
                                <h4>The Importance of Kids</h4>
                                <p>Body text is the main content of a document or webpage. It is typically the main text that</p>
                            </div>
                            <div class="blog-date-comment">
                                <div class="date">
                                    <i class="fa-regular fa-calendar-days"></i>
                                    <span>01 November, 2023</span>
                                </div>
                                <div class="comments">
                                    <i class="fa-regular fa-comments"></i>
                                    <span>12 Comments</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="single-blog-item">
                    <a href="#" class="single-blog">
                        <div class="blog-img">
                            <img src="assets/images/blog/2.png">
                        </div>
                        <div class="blog-content">
                            <div class="blog-title">
                                <h4>The Importance of Kids</h4>
                                <p>Body text is the main content of a document or webpage. It is typically the main text that</p>
                            </div>
                            <div class="blog-date-comment">
                                <div class="date">
                                    <i class="fa-regular fa-calendar-days"></i>
                                    <span>01 November, 2023</span>
                                </div>
                                <div class="comments">
                                    <i class="fa-regular fa-comments"></i>
                                    <span>12 Comments</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="single-blog-item">
                    <a href="#" class="single-blog">
                        <div class="blog-img">
                            <img src="assets/images/blog/3.png">
                        </div>
                        <div class="blog-content">
                            <div class="blog-title">
                                <h4>The Importance of Kids</h4>
                                <p>Body text is the main content of a document or webpage. It is typically the main text that</p>
                            </div>
                            <div class="blog-date-comment">
                                <div class="date">
                                    <i class="fa-regular fa-calendar-days"></i>
                                    <span>01 November, 2023</span>
                                </div>
                                <div class="comments">
                                    <i class="fa-regular fa-comments"></i>
                                    <span>12 Comments</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================== Blog Area End Here ==================== -->