<!-- ============ Event Area Start Here ============ -->
               
<section class="event-area">
    <div class="event-shape">
        <img src="assets/images/shape/star2.png" class="star2 animate-rotate">                     
        <img src="assets/images/shape/arrow-2.png" class="arrow-2 animate-x-axis">
        <img src="assets/images/shape/right.png" class="right-shape animate-y-axis">
    </div>
    <div class="event-wav">
        <img src="assets/images/event/event-wav.png" class="first">
        <img src="assets/images/event/event-wav.png" class="scound">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <div class="section-title text-center">
                    <span class="section-subtitle">Event</span>
                    <h3>Join Us for Exciting Events</h3>
                    <p style="margin: 0 auto 60px auto;">There are many variations of passages of Ipsum available, but the majority suffered alteration in some form randomised words injected.</p>
                </div>
            </div>
        </div>
        <div class="event-slider-area">
            <div class="single-slider greeny">
                <div class="date-title">
                    <div class="date">
                        <h3>01 <span>May</span> </h3>
                    </div>
                    <div class="title">
                        <h4>Contrary to popular belief</h4>
                        <div class="time-location">
                            <span class="time">Friday 11:00am - 3:00pm </span><br>
                           <span class="location">Celina, Delaware 10299</span>
                        </div>
                    </div>
                </div>
                <div class="event-img">
                    <img src="assets/images/event/1.png">
                </div>
            </div>
            <div class="single-slider violate">
                <div class="date-title">
                    <div class="date">
                        <h3>13 <span>June</span> </h3>
                    </div>
                    <div class="title">
                        <h4>Jump & Joy Jamboree</h4>
                        <div class="time-location">
                            <span class="time">Friday 11:00am - 3:00pm </span><br>
                           <span class="location">Celina, Delaware 10299</span>
                        </div>
                    </div>
                </div>
                <div class="event-img">
                    <img src="assets/images/event/2.png">
                </div>
            </div>
            <div class="single-slider yello">
                <div class="date-title">
                    <div class="date">
                        <h3>19 <span>July</span> </h3>
                    </div>
                    <div class="title">
                        <h4>Playland Extravaganza</h4>
                        <div class="time-location">
                            <span class="time">Friday 11:00am - 3:00pm </span><br>
                           <span class="location">Celina, Delaware 10299</span>
                        </div>
                    </div>
                </div>
                <div class="event-img">
                    <img src="assets/images/event/3.png">
                </div>
            </div>
            <div class="single-slider greeny">
                <div class="date-title">
                    <div class="date">
                        <h3>01 <span>May</span> </h3>
                    </div>
                    <div class="title">
                        <h4>Contrary to popular belief</h4>
                        <div class="time-location">
                            <span class="time">Friday 11:00am - 3:00pm </span><br>
                           <span class="location">Celina, Delaware 10299</span>
                        </div>
                    </div>
                </div>
                <div class="event-img">
                    <img src="assets/images/event/1.png">
                </div>
            </div>
            <div class="single-slider violate">
                <div class="date-title">
                    <div class="date">
                        <h3>13 <span>June</span> </h3>
                    </div>
                    <div class="title">
                        <h4>Jump & Joy Jamboree</h4>
                        <div class="time-location">
                            <span class="time">Friday 11:00am - 3:00pm </span><br>
                           <span class="location">Celina, Delaware 10299</span>
                        </div>
                    </div>
                </div>
                <div class="event-img">
                    <img src="assets/images/event/2.png">
                </div>
            </div>
            <div class="single-slider yello">
                <div class="date-title">
                    <div class="date">
                        <h3>19 <span>July</span> </h3>
                    </div>
                    <div class="title">
                        <h4>Playland Extravaganza</h4>
                        <div class="time-location">
                            <span class="time">Friday 11:00am - 3:00pm </span><br>
                           <span class="location">Celina, Delaware 10299</span>
                        </div>
                    </div>
                </div>
                <div class="event-img">
                    <img src="assets/images/event/3.png">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ============ Event Area End Here ============ -->