
<!-- ==================== Footer Start Here ==================== -->

    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <div class="left-footer footer-row">
                        <div class="footer-logo-text">
                            <img src="assets/images/logo/logo2.png">
                            <p>There are many variations of passages of Ipsum available, but the majority suffered.</p>
                        </div>
                        <div class="social-icons">
                            <i class="fa-brands fa-facebook-f" style="background-color: #3B5997;"></i>
                            <i class="fa-brands fa-instagram" style="background-color: #E11AB0;"></i>
                            <i class="fa-brands fa-twitter" style="background-color: #54ABF0;"></i>
                            <i class="fa-brands fa-linkedin-in" style="background-color: #0077B5;"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="useful-links footer-row">
                        <h3>Useful Links</h3>
                        <div class="links">
                            <a href="#">About Us</a>
                            <a href="#">Cafe</a>
                            <a href="#">Book a party</a>
                            <a href="#">Events</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="contact-info footer-row">
                        <h3>Contact Info</h3>
                        <div class="infos">                                  
                            <div class="single-info">
                                <i class="fa-solid fa-location-dot"></i>
                                <span>4140 Parker Rd. Allentown, New Mexico 31134</span>
                            </div>
                            <div class="single-info">
                                <i class="fa-solid fa-envelope"></i>
                                <span>bill.sanders@example.com</span>
                            </div>
                            <div class="single-info">
                                <i class="fa-solid fa-phone"></i>
                                <span>(603) 555-0123</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="newsletter footer-row">
                        <h3>Newsletter</h3>
                        <p>Body text is the main content of a document or the main text.</p>
                        <div class="email-input">
                            <input type="email" placeholder="Email">
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

 <!-- ==================== Footer End Here ==================== -->
  