<!-- ============== Gallery Area Start Here ==============  -->

    <section class="gallery-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7">
                    <div class="section-title text-center">
                        <span class="section-subtitle">Gallery</span>
                        <h3>Don’t Miss Our Photo Gallery</h3>
                        <p style="margin: 0 auto 60px auto;">There are many variations of passages of Ipsum available, but the majority suffered alteration in some form randomised words injected.</p>
                    </div>
                </div>
            </div>
            <div class="gallery-slider">

                <div class="single-slider">
                    <img src="assets/images/gallery/1.png">
                    <i class="fa-solid fa-plus"></i>
                </div>

                <div class="single-slider">
                    <img src="assets/images/gallery/2.png">
                    <i class="fa-solid fa-plus"></i>
                </div>

                <div class="single-slider">
                    <img src="assets/images/gallery/3.png">
                    <i class="fa-solid fa-plus"></i>
                </div>

                <div class="single-slider">
                    <img src="assets/images/gallery/4.png">
                    <i class="fa-solid fa-plus"></i>
                </div>

                <div class="single-slider">
                    <img src="assets/images/gallery/5.png">
                    <i class="fa-solid fa-plus"></i>
                </div>

                <div class="single-slider">
                    <img src="assets/images/gallery/6.png">
                    <i class="fa-solid fa-plus"></i>
                </div>

                <div class="single-slider">
                    <img src="assets/images/gallery/7.png">
                    <i class="fa-solid fa-plus"></i>
                </div>

                <div class="single-slider">
                    <img src="assets/images/gallery/8.png">
                    <i class="fa-solid fa-plus"></i>
                </div>

                <div class="single-slider">
                    <img src="assets/images/gallery/9.png">
                    <i class="fa-solid fa-plus"></i>
                </div>

                <div class="single-slider">
                    <img src="assets/images/gallery/10.png">
                    <i class="fa-solid fa-plus"></i>
                </div>

                <div class="single-slider">
                    <img src="assets/images/gallery/11.png">
                    <i class="fa-solid fa-plus"></i>
                </div>

                <div class="single-slider">
                    <img src="assets/images/gallery/1.png">
                    <i class="fa-solid fa-plus"></i>
                </div>

            </div>
        </div>
    </section>

<!-- ============== Gallery Area End Here ==============  -->