<!--========================== Testimonials Section Start ==========================-->

<section class="testimonial-area">
    <div class="container">
        <div class="row justify-content-center" style="margin-bottom: 55px;">
            <div class="col-xl-7">
                <div class="section-title text-center">
                    <span class="section-subtitle">Client Says</span>
                    <h3>What People Says</h3>
                    <p style="margin: 0 auto 60px auto;">There are many variations of passages of Ipsum available, but the majority suffered alteration in some form randomised words injected.</p>
                </div>
            </div>
        </div>

        <div class="tetimonial-slider-wrapper">
            <div class="single-testimonial blue">
                <div class="testimonial-content">
                    <div class="testimonial-text">
                        <p>"I want you to know that everyone is very impressed and pleased with the work of your entire teams. I can't say enough of pleasure of working"</p>
                    </div>
                    <div class="client-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <div class="testimonial-publisher">
                    <div class="publisher-img">
                        <img src="assets/images/testimonials/member-1.png">
                    </div>
                    <div class="publisher-info">
                        <h3>Rubayat Rifat</h3>
                        <span>rubayatrifat</span>
                    </div>
                </div>
            </div>

            <div class="single-testimonial yellow">
                <div class="testimonial-content">         
                    <div class="testimonial-text">
                        <p>"I want you to know that everyone is very impressed and pleased with the work of your entire teams. I can't say enough of pleasure of working"</p>
                    </div>
                    <div class="client-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <div class="testimonial-publisher">
                    <div class="publisher-img">
                        <img src="assets/images/testimonials/member-2.png">
                    </div>
                    <div class="publisher-info">
                        <h3>Grees Jeny</h3>
                        <span>jenygrees</span>
                    </div>
                </div>
            </div>

            <div class="single-testimonial pink">
                <div class="testimonial-content">
                    <div class="testimonial-text">
                        <p>"I want you to know that everyone is very impressed and pleased with the work of your entire teams. I can't say enough of pleasure of working"</p>
                    </div>
                    <div class="client-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <div class="testimonial-publisher">
                    <div class="publisher-img">
                        <img src="assets/images/testimonials/member-3.png">
                    </div>
                    <div class="publisher-info">
                        <h3>Canie Adon</h3>
                        <span>adon143</span>
                    </div>
                </div>
            </div>

            <div class="single-testimonial blue">
                <div class="testimonial-content">
                    <div class="testimonial-text">
                        <p>"I want you to know that everyone is very impressed and pleased with the work of your entire teams. I can't say enough of pleasure of working"</p>
                    </div>
                    <div class="client-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <div class="testimonial-publisher">
                    <div class="publisher-img">
                        <img src="assets/images/testimonials/member-4.png">
                    </div>
                    <div class="publisher-info">
                        <h3>Obaydulla</h3>
                        <span>cr7obaydulla</span>
                    </div>
                </div>
            </div>

            <div class="single-testimonial yellow">
                <div class="testimonial-content">
                    <div class="testimonial-text">
                        <p>"I want you to know that everyone is very impressed and pleased with the work of your entire teams. I can't say enough of pleasure of working"</p>
                    </div>
                    <div class="client-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <div class="testimonial-publisher">
                    <div class="publisher-img">
                        <img src="assets/images/testimonials/member-5.png">
                    </div>
                    <div class="publisher-info">
                        <h3>Nasrin</h3>
                        <span>nasrin2323</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial-wav">
        <img src="assets/images/service/service-wav.png" alt="">
    </div>
</section>

<!--========================== Testimonials Section End ==========================-->