/*====================== About Section Start====================*/

.about-area{
    position: relative;
    padding: 65px 0 130px 0;
    .about-left-content{
        .quality {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 30px;
            .single-quality {
                width: 50%;
                margin-bottom: 20px;
                span {
                    display: inline-block;             
                    margin-left: 10px;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 26px;
                }
            }
        }
    }
    .about-wav {
        position: absolute;
        bottom: -30px;
        z-index: 1;
    }
}


.about-shapes {
    img {
        position: absolute;
    }
    .about-first-shape {
        left: 10px;
        top: 7%;
    }
    .about-parashoot {
        top: 3%;
        left: 15%;
    }
    .arrow-2 {
        top: 62%;
        left: 42%;
    }
    .about-sun {
        top: 5%;
        left: 83%;
    }
    .about-umbrella {
        top: 73%;
        left: 83%;                    
    }
}


/*====================== About Section End ====================*/
