/* =================== Featured Start Here ==================== */

.feature-area {
    background: hsl(var(--base)/.1);
    padding: 120px 0;
    .features {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .single-feature {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: end;
            margin-right: -100px;
            margin-bottom: 45px;
            img {
                width: 133px;
            }
            .featured-text {
                margin-left: 22px;
                h3 {
                    font-size: 24px;
                    margin-bottom: 2px;
                    font-weight: 600;
                }
                p {
                    font-size: 14px;
                    line-height: 25px;
                }
            }
        }
    }
}

/* =================== Featured End Here ==================== */