/*====================== Service Area Start Here ====================*/

.service-area {
    padding: 70px 0 150px 0;
    position: relative;
    overflow-x: hidden;
    .slider-content {
        text-align: center;
        margin-top: 30px;
        padding: 0 15px;
        h3 {
            font-size: 25px;                   
            font-weight: 700;
            margin-bottom: 13px;
        }
        p {
            margin-bottom: 25px;
        }
        a{
            font-weight: 700;
            font-size: 20px;
            color: hsl(var(--base));
        }
    }
}

.slick-dots li button {
    border: none;
    background-color: hsl(var(--white));
    border: 1px solid hsl(var(--base));
    margin: 45px 8px;
    width: 20px;
    height: 20px;
    border-radius: 11px 17px 16px 19px;
    text-indent: -9999px;
    z-index: 5;
    position: relative;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    background: transparent;
}

.service-shapes {
    img {
        position: absolute;
    }
    .arrow-2 {
        top: 210px;
        right: -62px;
        width: 164px;
    }
    .long-arrow {
        left: -261px;
    }
}


/*====================== Service Area End Here ====================*/
