/*============= Team Area Start Here =============*/

.team-area {
    background-color: hsl(var(--base)/.1);
    padding: 125px 0;
    .team-single-slider {
        margin-top: 70px;
        .team-member-img {
            img {
                border-radius: 50%;
                outline: 0px dotted hsl(var(--base));
                border: 20px solid transparent;
                transition: .3s;
            }&:hover {
                border-radius: 50%;
                outline: 3px dotted hsl(var(--base));
            }
        }
    }
}

/*============= Team Area End Here =============*/
