/* ================== Testimonial section started ================== */

.testimonial-area {
    padding: 145px 0;
    .single-testimonial  {
        .testimonial-publisher {
            img {
                width: 100px;
            }
        }
    }
    .single-testimonial.blue {
        .testimonial-content {
            background-image: url(../images/testimonials/1.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}




/* ================== Testimonial section end ================== */